.login_container {
    -fx-background-color: #8E8E8E47;
}

.login_logo_container {
    -fx-background-color: #2c3e50;
    -fx-alignment: center;
}

.login_logo_container Text {
    -fx-font-size: 2em;
    -fx-fill: white;
}

.account_selector {
    -fx-background-color: white;
}

.account_selector .label {
    -fx-text-fill: #2c3e50;
    -fx-font-size: 1.1em;
}

.account_selector .arrow {
    -fx-background-color: #2c3e50;
}

#choice-box-popup-menu {
    -fx-background-color: white;
}

.login_form_container {
    -fx-spacing: 15;
    -fx-alignment: top-left;
}

.login_form_container Label {
    -fx-font-size: 1.1em;
    -fx-font-weight: bold;
    -fx-text-fill: #2c3e50;
}

.input_field {
    -fx-background-color: white;
    -fx-pref-height: 35;
    -fx-font-size: 1.2em;
    -fx-text-fill: black;
}

.login_form_container Button {
    -fx-background-color: #2c3e50;
    -fx-text-fill: white;
    -fx-pref-width: 350;
    -fx-pref-height: 30;
    -fx-font-size: 1.2em;
}

.login_form_container Button:hover {
    -fx-cursor: hand;
}

.error_lbl {
    -fx-text-fill: #2c3e50;
}

#choice-prompt-text {
    -fx-font-weight: 400;
    -fx-text-fill: #2c3e50;
}